.filter-bar-container {
    background-color: #ffffff !important;
    border-bottom: 1px solid #e8e5e1 !important;
    padding: 8px 0 !important;
    margin-top: 10px !important;
    border-radius: 12px !important;
}

.filter-trigger {
    background: #fff !important;
   
    padding: 10px 14px !important;
    font-size: 14px!important;
    cursor: pointer;
    gap: 8px;
    transition: 0.15s ease;
    display: flex;
    align-items: center;
}


.filter-trigger:hover {
    border-color: #cfcfcf  ;
}

.filter-trigger .icon{
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.filter-trigger .chevron{
    margin-left: auto;
    opacity: 0.5;
}

.view-buttons{
    display: flex;
    gap: 10px;
    width: 100%;
}

.view-btn{
    flex: 1;
    font-size: 14px;
    padding: 8px 0px;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #444;
    border-radius: 8px;
}

.view-btn:hover{
    color: #000 !important;
    background: #f2f2f2 !important;
    border-color: #ccc !important;
}

.view-btn.active{
    background: #000 !important;
    color: white !important;
    border-color: #000 !important;
}


@media (max-width: 768px) {
    .filter-trigger {
        font-size: 12px;
        padding: 8px 10px;
    }

    -view-btn{
        font-size: 12px;
        padding: 6px 0px;
    }
   
}