.mesa-card {
  transition: all 0.2s ease;
}

.mesa-card:hover {
  border-color: #fd7e14 !important;
  background-color: #fff5ee;
  cursor: pointer;
}

.mesa-selected {
  border-color: #fd7e14 !important;
  background-color: #fff0e6;
  color: #fd7e14;
}

.mesa-selected .mesa-nombre {
  color: #fd7e14;
}

.color-letra-precio {
    color: #fd7e14;
}

.transition-card {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease, margin 0.4s ease, padding 0.4s ease;
}

.transition-card.visible {
  max-height: 1000px; /* un valor mayor al tamaño real del componente */
  opacity: 1;
}

.transition-card.hidden {
  max-height: 0;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
}