.card.cardForm{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
p.pForm {
    text-align: left;
    color: #0A0A0A !important;      
    font-size: 0.9em !important;
}

label.labelForm {
    font-size: 0.8em;
    color: #0A0A0A;
}
input.inputForm {
    width: 100%;
    padding: 6px;
    border: 1px solid #ced4da00;
    border-radius: 8px;
    font-size: 0.95rem;
    margin-bottom: 15px;
    background-color: #f3f3f5;
    
}
input.inputForm:focus {
    outline: none; 
    border: 1px solid #a1a1a1;
    background-color: #f3f3f5;
    box-shadow: 0 0 0 2px #a1a1a1ab;
}


/* disposicion del icono */
.input-container-relative {
    position: relative;
    margin-bottom: 5px; 
}


.icon-form-overlay {
    position: absolute;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
    z-index: 5; 
    color: #a1a1a1;
    pointer-events: none; 
}


.inputForm.icon-form-padding-left {
   
    padding-left: 35px;
    margin-bottom: 0; 
}

a.linkFormRecuperar {
    color: #4a4a4a; 
    text-decoration: none;
    font-size: 0.9rem; 
}

a.linkFormRecuperar:hover {
    text-decoration: underline; 
    color: #f54900; 
}
