.Card-Proximas{
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}
.Card-Reservas-Proximas{
  border-radius: 20px;
  margin-bottom: 16px; /*espacio entre cards */
}
.div-card-Proximas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /*alinear vertical */
}
.card-titulo-proximas{
  font-size: 16px;
  font-weight: 700;
  color: #111;
  flex: 1;
  margin: 0;
  align-items: center;
}
/* ─── info fila 2 fecha- hora- personas─── */
.fila-2-proximas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.info-text-proximas{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.info-desc-proximas{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6b7280;
}
