.width-container-cards {
    max-width: 75%;
    min-height: 100vh;
}

.icon-color-profile {
    color: #ff6900;
}

/*Estilo tabs*/
.tab-mesero {
    background-color: #ececf0;
}

.tab-mesero li {
    background-color: transparent;
    padding: 3px;
}

.tab-mesero .nav-link {
    color: #000;
    border-radius: var(--bs-border-radius-pill) !important;
    padding-block: calc(var(--spacing)*1);
    font-size: 15px;
    padding: 3px;
}

.tab-mesero .nav-link.active {
    background-color: #ffffff;
    color: #000;
    border-radius: var(--bs-border-radius-pill) !important;
}

.tab-mesero .nav-item:hover { /*Quitar hover*/
    background-color: #ececf0;
    border-radius: var(--bs-border-radius-pill);
}

.Foto-Profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff6b35 0%, #f7931e 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.letra-button-submit {
    font-size: 14px !important;
}