.gestionempleados{
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20; /* espacio superior */
}
.card-gestionempleados{
    border-radius: 15px;
    padding: 10px; 
    
}
/*titu+descripcion*/
.titulo-empleados{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
}
.icono {
  color: #da590f;
  font-size: 30px;
}
.titulo {
  color: #000000;       /* Color de la letra */
  font-size: 20px;       /* Tamaño */
  font-weight: bold;     /* Negrita */
  font-family: sans-serif;
  
}
.descripcion {
  color:#4A5565 ;
  font-family: sans-serif;
  text-align: left;
  font-size: 12px;
  margin: 0;
}
/*tabs*/
.tabs .nav-pills {
  background-color: #ebecf3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.tabs .nav-pills .nav-link {
  color: #000; /* Color de texto negro */
  border-radius: 50px !important;
  padding: 4px 12px; 
  font-size: 15px;   /*tamaño letra*/
}
.tabs .nav-pills .nav-link.active {
  border-radius: 50px !important; /*borde button*/ 
  color: #000;
  background-color: #ffffff;
}
.tabs .nav-item {
  background-color: transparent !important;
  padding: 4px;
}
.fondo-tab {
  background-color: #ebecf3;
  height: 100%
}
/*cards*/
.row{
  padding: 0%;
}
.card-estadistica{
    border-radius: 15px;
    align-items: center;
    padding: 10px 20px ;
}
.cantidad {
  font-size: 25px;
  font-weight: 600;
  color: #0f172a;
  margin: 0;
}
.cantidad.act {
  color: #22c55e; /* verde activos */
}
.total-emple,
.emple-activos,
.emple-inactivos {
  margin: 0;
  font-size: 13px;
  color:#4A5565 ;
}
/*titulo lista y input */
.lista {
  display: flex;
  justify-content: space-between; /* título izquierda / buscador derecha */
  align-items: center;
}
.titulo-lista {
  font-size: 17px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 10px;
}
.search-box {
  position: relative;
  width: 300px;
}
/* INPUT */
.search-box .form-control {
  background-color: #ebecf3;   /*fondo*/
  border: none;                /* sin borde*/
  border-radius: 10px;
  padding-left: 35px;
}

/* cuando haces click */
.search-box .form-control:focus {
  background-color: #ebecf3; /*fondo*/
  border: 1px solid #8b8b8b;
  box-shadow: 0 0 0 3px #c2c1c1;
  outline: none;
}

/* ICONO */
.icono-buscar {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #64748b; 
  font-size: 14px;
}
/*tabla*/
/*Badge de cargos*/
.cargo{
  color: #000000!important; /*color letra*/
  background-color: #ffffff !important; /*color de fondo */
  border: 1px solid #d1d5db !important; 
}
.activo{
  color: #016630!important; /*color letra*/
  background-color: #dcfce7 !important; /*color de fondo */
}
.inactivo{
  color: #1e2939!important; /*color letra*/
  background-color: #f6f3f4 !important; /*color de fondo */
}
.vacaciones{
  color: #193cb8!important; /*color letra*/
  background-color: #dbeafe !important; /*color de fondo */
}
/*botones de acciones*/
.btn-accion {
  width: 35px;
  height: 30px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: #fff;
  color: #000000;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.btn-accion:hover {
  background: #f6f3f4;
}
/*nombre+correo*/
.nombre {
  font-weight: 500;
  color: #000000;
  font-size: 17px;
}

.correo {
  font-size: 14px;
  color: #6a7282;
}
/*organizacion*/
.tabla-container {
  width: 100%;
  overflow-x: auto;
}

.tabla {
  width: 100%;
  min-width: 750px;
  border-collapse: collapse;
}
.tabla th {
  padding: 9px 18px;
  font-weight: 600;
  color: #413f3f;
  border-bottom: 1px solid #e5e7eb;
}
.tabla td {
  padding: 9px 18px;
  border-bottom: 1px solid #e5e7eb;
}
.tabla tr:hover {
  background-color: #f6f3f4;
}
/*listaEmpreados*/
.card-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*estilo modals*/
.modal-empleados .modal-content{
  padding: 10px;
}
.title-modal{
  font-size: 17px;
  font-weight: 600;
}
.form-modal{
  padding: 0px 17px 0px 17px !important;
}
.label-model{
    font-size:12px;
    font-weight:600;
    color:#212529;
    margin: 0px;
}
.control-model{
  margin: 0px 0px 0px 0px;
}
.control-model:focus{
    outline: none; 
    border: 1px solid #a1a1a1;
    background-color: #f3f3f5;
    box-shadow: 0 0 0 2px #a1a1a1ab;
}
.select{
  margin: 0px 0px 0px 0px;
}
.select:focus{
    outline: none; 
    border: 1px solid #a1a1a1;
    background-color: #f3f3f5;
    box-shadow: 0 0 0 2px #a1a1a1ab;
}
.botones-modal{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0px !important;
    border-top: none !important;
}
.btn-cancelar{
  background-color: #ffffff;
  color: #000000;
  border-color: #dee2e6;
}
.btn-cancelar:hover{
  border-color: #dee2e6;
  background-color: #e3e3e4;
  color: #000000;
}
.btn-confirmar{
  background-color: #FF5C20;
  color: #ffffff !important;
  border-color: #FF5C20;
}
.btn-confirmar:hover{
  background-color: #FF5C20 !important;
  color: #ffffff !important;
  border-color: #FF5C20;
}
