.cambio {
  width: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Form.Control {
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #f3f3f5;
  border: 1px solid #b9b6b6bd;
}
