/*estilo card de la info-restaurante */
.Card-inforestau {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

/*estilo modal*/
.modal-letra{
  font-size: 15px;
}
/*modal div*/
.

.modal-letra .form-group {
  margin-bottom: 0.5rem; 
}
.info-card-restau{
  border-radius: 20px;
}
.row {
  padding: 0 16px 16px;
}
/* Encabezado: icono + título */
.encabezado-inforestau {
  padding: 0 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* Título */
.encabezado-title-inforestau {
  display: flex;
  align-items: center;
   gap: 8px; /* espaciado entre icono y texto */
}
/*Titulo*/
.encb-title-inforestau{
    margin: 0;
  font-size: 15px;
  font-weight: 400;
  color:rgba(10, 10, 10, 1);
}
/* Botón Editar Información */
.btn-edit-inforestau{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px; /* espaciado entre icono y texto */
  border: 1px solid #dcdcdc;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  
}
/* Botón Editar Información */
.Editar-inforestau{
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color:rgba(10, 10, 10, 1);
}
.btn-edit-inforestau:hover {
  background: #ebecf3;
}
/* Imagen del restaurante */
.inforestau-image {
  width: 100%;
  height: 186px;
  object-fit: cover;
}

/* Subtítulos (Nombre del restaurante, Zona, etc.) */
.inforestau-subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 14px;
  color: rgba(10, 10, 10, 1);
}
/* Párrafos */
.inforestau-text {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  font-size: 14.5px;
  color: rgba(16, 24, 40, 1);
}
/* Iconos alineados con texto */
.info-icon {
  margin-right: 6px;
}
/* Separación en columnas */
.inforestau-right {
  margin-bottom: 18px;
}
.Descripcion-inforestau {
  color: rgba(54, 65, 83, 1);
  line-height: 1.5;
  font-size: 14px;
}

