.Card {
  max-width: 900px;
  min-height: 100vh;
}
.title {
  color: #000000;       /* Color de la letra */
  font-size: 20px;       /* Tamaño */
  font-weight: bold;     /* Negrita */
  font-family: sans-serif;
}
.text {
  color:4A5565 ;
  font-family: sans-serif;
  text-align: left;
  font-size: 14;
}


