.menu-session-cta {
    padding: 20px 20px 25px 20px;
    border-top: 1px solid #efefef;
    background-color: #ffffff;
}

.menu-session-cta p {
    font-size: 0.85rem;
    color: #6f6f6f;
    margin-bottom: 18px;
}

/* Botón estilo referencia */


/* Boton naranja degrade */
.btn-login-menu {
    background-image: linear-gradient(to right, #ff8000, #FF3333);
    background-color: transparent; 
    border-radius: 10px; 
    border-color: #ff7300;
    width: 100%;
    color: #FFFFFF;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}
/* Mouse */
.btn-login-menu:hover {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00;
    color: #FFFFFF;
}
.btn-login-menu:focus {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00; 
    color: #FFFFFF;
    box-shadow: none; 
}

.btn-login-menu:active {
    background-image: linear-gradient(to right, #ff5533, #ff1100) !important; 
    border-color: #FF8C00 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}


/* icono más delgado */
.login-icon {
    margin-right: 4px;
}
