:root {
  /* varibables fuentes globales */
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}


/* Global CSS styles for the application */
body {
    min-height: 100vh; 
    margin: 0;
    background-color: #fff6ed;
    font-family: var(--font-body);
}

/* Fin */

/* EStilos de los botones */

/* Boton naranja degrade */
button.buttonNaranjaDegrade {

    background-image: linear-gradient(to right, #ff8000, #FF3333);
    background-color: transparent; 
    border-radius: 6px; 
    border-color: #FF8C00;

    color: #FFFFFF;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}
/* Mouse */
button.buttonNaranjaDegrade:hover {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00;
    color: #FFFFFF;
}
button.buttonNaranjaDegrade:focus {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00; 
    color: #FFFFFF;
    box-shadow: none; 
}

button.buttonNaranjaDegrade:active {
    background-image: linear-gradient(to right, #ff5533, #ff1100) !important; 
    border-color: #FF8C00 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}





/* Boton Naranja degrade poco, para los botones del gestion del restaurante */
button.buttonNaranjaSimple {
    background-image: linear-gradient(to right, #ff6200, #FF3333);
    background-color: transparent; 
    border-radius: 6px; 
    border-color: #FF8C00;

    color: #FFFFFF;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


button.buttonNaranjaSimple:hover {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00;
    color: #FFFFFF;
}
button.buttonNaranjaSimple:focus {
    background-image: linear-gradient(to right, #ff5533, #ff1100);
    border-color: #FF8C00; 
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonNaranjaSimple:active {
    background-image: linear-gradient(to right, #ff5533, #ff1100) !important; 
    border-color: #FF8C00 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}





/* Boton Eliminar cuenta permanente */
button.buttonEliminarC {
    background-image: none;
    background-color: #DC3545; 
    border-radius: 6px; 
    border-color: #DC3545;

    color: #FFFFFF;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
/* Mouse */
button.buttonEliminarC:hover {
    background-color: #E05260;
    border-color: #E05260;
    color: #FFFFFF;
}
button.buttonEliminarC:focus {
    background-color: #E05260; 
    border-color: #E05260; 
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonEliminarC:active {
    background-color:#E05260 !important; 
    border-color: #E05260 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}


/* boton registrarse (usuario) home page*/
button.buttonRegistrarUS {

    background-color: transparent;
    background-image: none; 
    
    border-radius: 6px; 
    border-color: #FF8C00; 
    border-width: 1px;
    border-style: solid;

    color: #ff5500;
    font-family: var(--font-body); 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonRegistrarUS:hover {
    background-color: #fff6ed; 
    border-color: #e55101; 
    color: #000000;
}
button.buttonRegistrarUS:focus {
    background-color: #fff6ed; 
    border-color: #e55101; 
    color: #000000;
    box-shadow: none; 
}


button.buttonRegistrarUS:active {
    background-color:#fff6ed !important; 
    border-color: #e55101 !important;
    color: #000000 !important;
    box-shadow: none !important;
    transform: none !important; 
}




/* Boton registrar restaurante*/
button.buttonRegistrarRE {
    background-color: #FFFFFF; 
    background-image: none; 
    border-radius: 6px; 
    border-color: #FF8C00 !important; 
    border-width: 1px;
    border-style: solid;

    color: #FF8C00; 
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonRegistrarRE:hover {
    background-color: #FF8C00; 
    border-color: #ffffff; 
    color: #f5f5f5;
}
button.buttonRegistrarRE:focus {
    background-color: #FF8C00; 
    border-color: #ffffff; 
    color: #f5f5f5;
    box-shadow: none; 
}


button.buttonRegistrarRE:active {
    background-color:#FF8C00 !important; 
    border-color: #ffffff !important;
    color: #f5f5f5 !important;
    box-shadow: none !important;
    transform: none !important; 
}





/* Boton Aprobar Admin platform */
button.buttonAprobar {
    background-color: #28a745; 
    background-image: none; 
    border-radius: 6px; 
    border-color: #28a745;
    border-width: 1px;
    border-style: solid;

    color: #FFFFFF; 
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button.buttonAprobar:hover {
    background-color: #1f8e39; 
    border-color: #2fb94f; 
    color: #FFFFFF; 
}
button.buttonAprobar:focus {
    background-color: #1f8e39; 
    border-color: #2fb94f; 
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonAprobar:active {
    background-color:#1f8e39 !important; 
    border-color: #2fb94f !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}



/* Boton Rechazar Admin platform */
button.buttonRechazar {
    background-color: #FFFFFF;
    background-image: none; 
    border-radius: 6px; 
    border-color: #f3e7e8; 
    border-width: 1px;
    border-style: solid;

    color: #DC3545;
    font-family: var(--font-title); 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonRechazar:hover {

    background-color: #d4cdcd42; 
    border-color: #d2cacb; 
    color: #DC3545;
}
button.buttonRechazar:focus {
    background-color: #d4cdcd42; 
    border-color: #d2cacb; 
    color: #DC3545;
    box-shadow: none; 
}


button.buttonRechazar:active {
    background-color:#d4cdcd42 !important; 
    border-color: #d2cacb !important;
    color: #DC3545 !important;
    box-shadow: none !important;
    transform: none !important; 
}



/* Boton de uso global se puede usar en:Ver documentos Admin platform, Editar informacion del restaurante, configurar horarios, como cliete para ver detalles de una reserva, calificar experiencia */
button.buttonBlancoFGris,
    a.buttonBlancoFGris {
    background-color: #FFFFFF;
    background-image: none; 
    border-radius: 6px; 
    border-color: #f3e7e8;
    border-width: 1px;
    border-style: solid;

    color: #0a0a0a;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonBlancoFGris:hover,
    a.buttonBlancoFGris:hover {
    background-color: #d8d5d56e; 
    border-color: #d2cacb; 
    color: #0a0a0a;
}
button.buttonBlancoFGris:focus,
    a.buttonBlancoFGris:focus {
    background-color: #d8d5d56e; 
    border-color: #d2cacb; 
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonBlancoFGris:active,
    a.buttonBlancoFGris:active {
    background-color:#d8d5d56e !important; 
    border-color: #d2cacb !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}





/* Boton registrar nuevo restaurante Admin platform */
button.buttonRegistrarNuevoR {
    background-color: #155DFC;
    background-image: none; 
    border-radius: 6px; 
    border-color: #074ee7;
    border-width: 1px;
    border-style: solid;

    color: #FFFFFF;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonRegistrarNuevoR:hover {

    background-color: #0448db; 
    border-color: #155DFCd4; 
    color: #FFFFFF;
}
button.buttonRegistrarNuevoR:focus {
    background-color: #0448db; 
    border-color: #155DFCd4; 
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonRegistrarNuevoR:active {
    background-color:#0448db !important; 
    border-color: #155DFCd4 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}




/* Estilos del botón de Guardar black guardar informacion del cliente */
button.buttonGuardarInfo {
    background-color: #212529; 
    background-image: none; 
    
    border-radius: 6px; 
    border-color: #212529; 
    border-width: 1px;
    border-style: solid;

    color: #FFFFFF; 
    font-family: var(--font-title); 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5 ;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button.buttonGuardarInfo:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: #FFFFFF;
}
button.buttonGuardarInfo:focus {
    background-color: #343a40;
    border-color: #343a40;
    color: #FFFFFF;
    box-shadow: none; 
}


button.buttonGuardarInfo:active {
    background-color:#343a40 !important; 
    border-color: #343a40 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important; 
}


/* Estilo de los botones del menu hamburguesa*/
button.buttonBlancoFGrisNBorder {
    background-color: #FFFFFF;
    background-image: none; 
    border-radius: 6px; 
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;

    color: #0a0a0a;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonBlancoFGrisNBorder:hover {

    background-color: #d8d5d56e ; 
    border-color: #ffffff ;
    color: #0a0a0a ;

}

button.buttonBlancoFGrisNBorder:focus {

    background-color: #d8d5d56e;
    border-color: #ffffff;
    color: #0a0a0a;
    box-shadow: none; 
}


button.buttonBlancoFGrisNBorder:active {
    background-color: #d8d5d56e !important; 
    border-color: #ffffff !important;
    color: #0a0a0a !important;
    box-shadow: none !important;
    transform: none !important; 
}


button.buttonRojoFRojo {
    background-color: #FFFFFF;
    background-image: none; 
    border-radius: 6px; 
    border-color: #ffffff; 
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    color: #DC3545;
    font-family: var(--font-title); 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button.buttonRojoFRojo:hover {

    background-color: rgba(220, 53, 69, 0.1); 
    border-color: #ffffff; 
    color: #DC3545;
}


button.buttonRojoFRojo:focus {

    background-color: rgba(220, 53, 69, 0.1);
    border-color: #ffffff;
    color: #DC3545;
    box-shadow: none; 
}


button.buttonRojoFRojo:active {
    background-color: rgba(220, 53, 69, 0.1) !important; 
    border-color: #ffffff !important;
    color: #DC3545 !important;
    box-shadow: none !important;
    transform: none !important; 
}
/* Fin */

/* Estilos tipográficos globales */
h1, h2, h3, h4 {
    font-family: var(--font-title); 
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

p, label {
    font-family: var(--font-body);
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
/* 
label {
    font-size: rem;
    font-weight: 500;
    line-height: 1.5;
}

input {
    font-family: var(--font-body); 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
} */


/* Fin */