.modal-header{
    border-bottom: none;
    padding-bottom: 0;
} 

.modal-content{
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.modal-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}

.modal-body .small{
    font-size: 0.85rem;
    color: #888f9b;
}

.text-center p{
     font-size: 0.88rem;
    color: #626874;
}

.btn-registro{
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    color: #646262;
    border-color: #b5b5b6 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-registro:hover{
    background: #f8f9fa;
    color: #000000;
} 