.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 10;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #ff5722;
}

.right {
  display: flex;
  gap: 15px;
}

.btn-register {
  background: #ffffff;
  border: 2px solid #ff9800;
  padding: 8px 15px;
  border-radius: 6px;
  color: #ff9800;
  font-weight: 600;
}

.btn-login {
  background: #ff5722;
  padding: 8px 15px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.hero {
  background: #fff4ec;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
}

.hero h1 span {
  color: #ff5722;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.search-bar {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 70%;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.search-left,
.search-location {
  display: flex;
  align-items: center;
  flex: 1;
}

.icon {
  margin-right: 10px;
  color: #777;
}

input,
select {
  border: none;
  outline: none;
  width: 100%;
}

.btn-search {
  background: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


.rest-list {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform .2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.info {
  padding: 15px;
}

.footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
